<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>admin home page</title>
    </head>
    <body>
        <div style="display: flex;">
            <form action="/admin"><input type="hidden" name="status" value="All" /><button type="submit">All</button></form>
            <form action="/admin"><input type="hidden" name="status" value="Pending" /><button type="submit">Pending</button></form>
            <form action="/admin"><input type="hidden" name="status" value="Approved" /><button type="submit">Approved</button></form>
            <form action="/admin"><input type="hidden" name="status" value="Canceled" /><button type="submit">Canceled</button></form>
            <form action="/admin"><input type="hidden" name="status" value="Delivered" /><button type="submit">Delivered</button></form>
        </div>
        <form action="/admin/changeOrdersStatus" method="POST">
            <div class="submit">
                <select name="status">
                    <option class="option" value='{"color": {"b": 0, "g": 200, "r": 255}, "status": "Pending", "message": null}'>Pending</option>
                    <option class="option" value='{"color": {"b": 131, "g": 255, "r": 120}, "status": "Approved", "message": null}'>Approved</option>
                    <option class="option" value='{"color": {"b": 130, "g": 130, "r": 255}, "status": "Canceled", "message": null}'>Canceled</option>
                    <option class="option" value='{"color": {"b": 138, "g": 138, "r": 138}, "status": "Delivered", "message": null}'>Delivered</option>
                </select>
                <input class="input" type="text" placeholder="message">
                <button type="submit">submit</button>
            </div>
            <table>
                <tr>
                    <th><input class="masterCheckbox" type="checkbox"></th>
                    <th>ID</th>
                    <th>orderID</th>
                    <th>status</th>
                    <th>userEmail</th>
                    <th>orders&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>transportfee</th>
                    <th>subtotal</th>
                    <th>address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>payType</th>
                    <th>orderTime</th>
                    <th>deliveryDate</th>
                    <th>phoneNumber</th>
                    <th>isReal</th>
                </tr>
                <% for(var i = 0; i < orders.length; i++) { %>
                    <tr>
                        <td>
                            <input class="slaveCheckbox" type="checkbox" name="ID" value="<%= Object.values(orders[i])[0] %>">
                        </td>
                        <% for( let e = 0; e < Object.values(orders[i]).length; e++ ) { %>
                            <% if (e == 2) { %>
                                <td>
                                    <div style="display: flex;">
                                        <%- JSON.parse(Object.values(orders[i])[e])["status"] + `<div class='status' style='margin-left: 5px;background-color: rgb(${JSON.parse(Object.values(orders[i])[e])["color"]["r"]}, ${JSON.parse(Object.values(orders[i])[e])["color"]["g"]}, ${JSON.parse(Object.values(orders[i])[e])["color"]["b"]});'></div>` %> 
                                    </div>
                                    <div style="color: blue;"><%- JSON.parse(Object.values(orders[i])[e])["message"] ? "message: " + JSON.parse(Object.values(orders[i])[e])["message"] : "" %></div>
                                </td>
                            <% } else if (e == 4) { %>
                                <% 
                                let ordersArr = JSON.parse(Object.values(orders[i])[e])  
                                let string = "";
                                for( let a = 0; a < ordersArr.length; a++ ) { 
                                    string += `
                                    <div style="border-radius: 10px; display: flex; justify-content: space-between; space border-radius: 10px; border: 2px solid black; padding: 10px; margin-bottom: 10px;">
                                        <div>
                                            name: ${ordersArr[a]["Name"]}<br>
                                            Price: ${ordersArr[a]["price"]}<br>
                                            size: ${ordersArr[a]["size"]}<br>
                                            qty: ${ordersArr[a]["qty"]}<br><br>
                                        </div>
                                        <div style="border-radius: 10px; border: 2px solid black; width: 100px; height: 100; background-size: cover; background-image: url('${ordersArr[a]["imageUrl"]}'); background-position: center; background-repeat: no-repeat;"></div>
                                    </div>
                                    `
                                } 
                                %>
                                <td>
                                    <div class="showOrders" data-orders="<%= string %>">show orders</div>
                                </td>
                            <% } else if (e == 7) { %>
                            <% let address = JSON.parse(Object.values(orders[i])[e]) %> 
                                <td>
                                    <%- address["store"]%><br>
                                    <%- address["location"]["latitude"] + "," %>
                                    <%- address["location"]["longitude"] %><br>
                                    <%- address["information"] ? "information: " + address["information"] + "<br>" : "" %>
                                    <%- address["instructions"] ? "instructions: " + address["instructions"] : "" %> 
                                </td>
                            <% } else if (e == 12) { %>
                                <td><%- Object.values(orders[i])[e] == 0 ? `<div style='color: blue; cursor: pointer;' class="activate" data-email='${Object.values(orders[i])[3]}'>Activate</div>` : 1 %> </td>
                            <% }else{ %>
                                <td><%= Object.values(orders[i])[e] %></td>
                            <% } %>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </form>
        <div class="topdiv">
            <div></div>
        </div>
    </body>
    <script defer src="/js/script.js"></script>
</html>