<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="flex">
        <div class="margin border fixedWidth padding greyBC">
            ID
        </div>
        <div class="margin border fixedWidth padding greyBC">
            Name
        </div>
        <div class="margin border fixedWidth padding greyBC">
            Price
        </div>
        <div class="margin border fixedWidth padding greyBC">
            Size
        </div>
        <div class="margin border fixedWidth padding greyBC">
            Image
        </div>
    </div>
    <% for(var i = 0; i < results.length; i++) { %>
    <div class="flex">
        <div class="margin border fixedWidth padding">
            <%- results[i].ID %>
        </div>
        <div class="margin border fixedWidth padding">
            <%- results[i].Name %>
        </div>
        <div class="margin border fixedWidth padding">
            <%- results[i].price %>
        </div>
        <div class="margin border fixedWidth padding">
            <%- results[i].size %>
        </div>
        <div class="margin BCimage border padding" style="background-image: url('<%- results[i].imageUrl %>');"></div>
    </div>
    <% } %>
</body>
</html>